<div class="container-fluid hm">
  <div *ngIf="this.location" class="text-center mb-3">
    {{this.location.lat}}, {{this.location.lng}}, {{this.location.zoom}}
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2></h2>
      <ngx-place-picker (locationChanged)="this.logLocationChange($event)" [enableCurrentLocation]="true"
        [enablePlacesSearch]="true"></ngx-place-picker>
    </div>
    <div class="col-md-6">
      <h2></h2>
      <ngx-place-picker (locationChanged)="this.logLocationChange($event)" [enableCurrentLocation]="true"
        [enablePlacesSearch]="false"></ngx-place-picker>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-6">
      <h2></h2>
      <ngx-place-picker (locationChanged)="this.logLocationChange($event)" [enableCurrentLocation]="false"
        [enablePlacesSearch]="true"></ngx-place-picker>
    </div>
    <div class="col-md-6">
      <h2></h2>
      <ngx-place-picker (locationChanged)="this.logLocationChange($event)" [enableCurrentLocation]="false"
        [enablePlacesSearch]="false"></ngx-place-picker>
    </div>
  </div>
</div>
